@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #8E8E8E;
    background: #FFF;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-login {
    display: flex;
    align-items: center;
}
.nav, .nav2 {
    display: flex;
    gap: 40px;
}
.nav2 a {
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: #000;
}
.nav a {
    text-decoration: none;
    color: #000;
}

.logo img {
    width: 110px;
    height: 30.53px;
    margin-top: 15px;
    margin-left: 81px;
}

.login a {
    display: inline-flex;
    padding: 12px 37px 11px 37px;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    background: #FFADE3;
    text-decoration: none;
    color: #fff;
    margin-left: 53px;
    margin-right: 36px;
}
.lost-find {
    display: flex;
    text-align: center;
}
main {
    margin-bottom: 200px;
}
h2 {
    color: #000;
    font-family: KCC-Hanbit;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
h4 {
    color: #303030;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

a {
    font-family: KCC-Hanbit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    text-align: left;
}

.container {
    position: relative;
}
.man {
    margin-top: 268px;
    margin-bottom: 338px;
    margin-left: 425px;
    text-align: left;
    height: 158px;
}
.man img {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    position: relative;
    left: 305px;
    top: -219px;
}
.girl {
    margin-left: 596px;
    margin-bottom: 334px;
    text-align: left;
    position: relative;
    top: -200px;
    height: 313px;
}
.girl img {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    position: relative;
    left: -250px;
    top: 195px;
}
.girl div {
    width: 427px;
    height: 160px;
}
.girl p {
    margin-top: 16px;
}
.star {
    margin-left: 390px;
    margin-bottom: 344px;
    text-align: left;
    transform: translateX(30px);
    height: 177px;
}
.star img {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    position: relative;
    top: -219px;
    left: 440px;
}
.bot {
    margin-left: 468px;
    margin-bottom: 285px;
    text-align: left;
}

.bot a {
    display: inline-block;
    border-radius: 13px;
    text-decoration: none;
    margin-top: 21px;
    text-align: center;
}
#bot-white {
    background-color: #FFADE3;
    color: #fff;
    padding: 19px 24px 18px 23px;
}
#bot-black {
    border: 2px solid #FFADE3;
    background-color: #fff;
    color: #000;
    padding: 19px 42px 18px 42px;
}
.div-top {
    display: flex;
    justify-content: center;
    margin-top: 87px;
    gap: 20px;
}
.div-top a {
    display: inline-flex;
    padding: 13px 129px 12px 129px;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    text-decoration: none;
    margin-bottom: 20px;
}
#top {
    background-color: #FFADE3;
    color: #FFF;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#top-black {
    color: #FFADE3;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 2px solid #FFADE3;
}

.container-l-f {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 861px;
    height: 145px;
}
.comment {
    width: 711px;
}
.comment > h4 {
    margin-bottom: 4px;
    text-align: left;
}
.comment > p {
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    gap: 5px;
    margin-top: 1px;
}
.button > h6 {
    padding: 6px 13px 5px 13px;
    border-radius: 20px;
    background-color: #FFADE3;
    color: #fff;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}
.img {
    display: flex;
}
.img > img {
    border-radius: 13px;
    width: 150px;
    height: 145px;
}
